:root {
    --back-color: rgb(11, 142, 185)
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body {
    background-color:rgb(125, 198, 223);
    color: white;
    
}

.center {
    /* border: 5px solid; */
    margin: auto;
    width: 50%;
    /* padding: 10px; */
  }

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--back-color);
    padding: 2%;
    color:rgb(255, 255, 255);
    margin-bottom: 2%;
}

.card{
    width: max(90%, 300px);
    background-color: var(--back-color);

    /* background: linear-gradient(135deg, #00feba, #5b548a); */
    color: #fff;
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}
input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 24px;
    width: 80%;
    font-size: 18px;
}
button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    aspect-ratio: 1;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
}

.aside {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    /* width: 30vw; */
    height: fit-content;
    
    padding: 1%;
    margin: 2% 2% 2%;
    border-radius: 8px;
    text-align: center;
    flex-wrap: nowrap;
    background-color: var(--back-color);
}



section {
    padding: 2%;
}

.column {
    display: flex;
    /* flex-direction: row; */
    }

/* button {
    display: flex;
    justify-content: center;
    margin: 2%;
    width: 20%;
    height: fit-content;
    background-color:rgb(9, 150, 243);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1%;
} */

button:hover {
    background-color:rgb(3, 84, 138);
    cursor: pointer;
}
#searchbar {
    padding: 1%;
    width: 30%;
    height: fit-content;
 }


#display {
    /* margin: 1% 5% 0 0; */
    padding: 2% 10% 10%;
    border-radius: 10px;
    background-color: var(--back-color);
    color: white;
}

#city {
    text-align: center;
}

#title {
    text-align: center;
    margin-bottom: 2%;
}

#forecast {
     /* display: flex; 
     flex-direction: column; */
     background-color: var(--back-color);
     margin-top: 2%;
     align-items: center;
     border-radius: 10px;
     padding: 0% 5%;
    
     
}

#forecast h2 {
   text-align: center;

}

.forecast-main {
    display: flex;
    justify-content: space-between;
    
}

.temp {
    text-align: end;
}

.box {
    border-bottom: solid rgb(125, 198, 223) 2px;   
    margin-bottom: 2%;
    padding: 2%;
   
    
}

@media screen and (max-width: 768px) {

    #searchbar {
        
        width: 75%;
        height: 24px;
     }

    button {
        width: 25%;
    }
}